extends layout

block content
  #navbar
    nav
      #home-link
        a Home
        .selector
      #about-link
        a About
        .selector
      #experience-link
        a Experience
        .selector
      #hobbies-link
        a Hobbies
        .selector
      #contact-link
        a Contact
        .selector
  #home
    .background
    .background-blur
    .title
      p.name Kevin Wu
      p.tagline A personal website
  #about
    .container
      .title #[span.first I] am a...
      .content
        .spacing
        .student
          img(src="imgs/student.svg", alt="Student")
        .spacing
        .hacker
          img(src="imgs/hacker.svg", alt="Hacker")
        .spacing
        .gamer
          img(src="imgs/gamer.svg", alt="Gamer")
  #experience
    .container
      .timeline
        .bar
      .spacing
      each project in experience
        .content(class= project.id)
          if project.time != null
            .date #[span.strong S] #{project.time}
          .title #[span.strong= project.name]
          .text= project.content
          .code
  #hobbies
    .container
      .carousel
        img.prev(src="imgs/prev.svg", alt="Previous Button")
        .cube
          .front
          .back
          .left
          .right
          .top
          .bottom
        img.next(src="imgs/next.svg", alt="Next Button")
      .dotContainer
        .dots
      .padding
      .title
  #contact
  