doctype html
html
  head
    title Personal Website
    script(type="text/javascript", src="scripts/magic.min.js")
    link(rel="stylesheet", type="text/css", href="styles/main.css")

  body
    block content