.home-theme {
  background-color: #212930;
}
.about-theme {
  background-color: #1a4a72;
}
.experience-theme {
  background-color: #b3b3b3;
}
.hobbies-theme {
  background-color: #414b56;
}
.contact-theme {
  background-color: #212930;
}
.home-dark {
  background-color: #6e8397;
}
.about-dark {
  background-color: #061d30;
}
.experience-dark {
  background-color: #000000;
}
.hobbies-dark {
  background-color: #1b2129;
}
.contact-dark {
  background-color: #6e8397;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica";
  font-weight: 400;
}
a {
  text-decoration: none;
}
#home {
  width: 100%;
  height: 100%;
}
#about,
#experience,
#hobbies,
#contact {
  width: 100%;
  height: calc(100% - 85px);
  padding-top: 85px;
  padding-bottom: 85px;
}
#home,
#about,
#experience,
#hobbies,
#contact {
  min-width: 900px;
  min-height: 515px;
  position: relative;
}
#contact {
  background-color: #212930;
}
#navbar {
  width: 100%;
  height: 85px;
  min-width: 640px;
  position: fixed;
  top: 0;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  z-index: 2;
}
#navbar nav {
  position: absolute;
  right: 50px;
}
#navbar nav > div {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: 85px;
  padding: 45px 20px 0px;
  position: relative;
  cursor: pointer;
  color: white;
}
#navbar nav > div a {
  position: relative;
  line-height: 18px;
  font-size: 18px;
  color: inherit;
  pointer-events: none;
  z-index: 1;
}
#navbar nav > div .selector {
  width: 100%;
  height: 85px;
  position: absolute;
  top: -85px;
  left: 0;
}
#home {
  position: relative;
  background-color: #212930;
}
#home .container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
#home .background {
  height: 90%;
  position: relative;
}
#home .background #kevin {
  height: 100%;
  width: 100%;
}
#home .background:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to top, #212930 0%, rgba(33, 41, 48, 0) 25%);
}
#home .title {
  position: absolute;
  left: 80px;
  bottom: 10%;
}
#home .name,
#home .tagline {
  display: inline-block;
  color: white;
  margin: 0;
}
#home .name {
  font-size: 100px;
  margin-right: 35px;
}
#home .tagline {
  font-size: 36px;
}
#about {
  background-color: #1a4a72;
}
#about .container {
  width: 100%;
  height: 100%;
  padding-bottom: 85px;
  position: relative;
  z-index: 0;
}
#about .wall {
  width: 100%;
  height: 80%;
  position: relative;
  z-index: 1;
}
#about .wall .counter {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#about .wall .counter .content {
  display: none;
  opacity: 0;
  box-sizing: border-box;
  height: 90%;
  max-width: 900px;
  position: absolute;
  bottom: 15px;
}
#about .wall .counter .content .arrow {
  content: "";
  width: 0;
  height: 0;
  border-right-width: 22px;
  border-right-style: solid;
  border-right-color: #061d30;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  position: absolute;
  left: -21px;
}
#about .wall .counter .content .wrapper {
  padding: 30px 40px 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #061d30;
}
#about .wall .counter .content .wrapper .cancel {
  max-height: 35px;
  cursor: pointer;
}
#about .wall .counter .content .wrapper .text {
  position: relative;
  color: white;
  font-size: 24px;
  font-weight: 300;
}
#about .wall .counter .content .wrapper .text .actual-text {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
#about .wall .counter .content .wrapper .text .actual-text span {
  padding: 0 2px;
}
#about .wall .counter .content .wrapper .text .text-fade-before,
#about .wall .counter .content .wrapper .text .text-fade-after {
  display: none;
  width: 100%;
  height: calc(100% + 2px);
  position: absolute;
  top: -1px;
  left: 0;
  pointer-events: none;
}
#about .wall .counter .content .wrapper .text .text-fade-before {
  background: linear-gradient(to bottom, #061d30 0%, rgba(18, 35, 64, 0) 15%);
}
#about .wall .counter .content .wrapper .text .text-fade-after {
  background: linear-gradient(to top, #061d30 0%, rgba(18, 35, 64, 0) 15%);
}
#about .wall .counter .portrait-content {
  width: 70%;
  top: 15px;
  left: 24%;
  bottom: auto;
}
#about .wall .counter .portrait-content .wrapper {
  bottom: auto;
  top: 0;
}
#about .wall .counter .portrait-content .actual-text span {
  background-color: #ff7f35;
}
#about .wall .counter .student-content {
  left: 20%;
  width: 74%;
}
#about .wall .counter .student-content .actual-text span {
  background-color: #27A9E1;
}
#about .wall .counter .hacker-content {
  left: 28%;
  width: 66%;
}
#about .wall .counter .hacker-content .actual-text span {
  color: black;
  background-color: #F8EDA7;
}
#about .wall .counter .gamer-content {
  left: 38%;
  width: 56%;
}
#about .wall .counter .gamer-content .actual-text span {
  background-color: rgba(0, 0, 255, 0.7);
}
#about .wall .counter .portrait,
#about .wall .counter .student,
#about .wall .counter .hacker,
#about .wall .counter .gamer {
  display: none;
  cursor: pointer;
}
#about .wall .counter .portrait.disable,
#about .wall .counter .student.disable,
#about .wall .counter .hacker.disable,
#about .wall .counter .gamer.disable {
  cursor: default;
  pointer-events: none;
}
#about .wall .counter .portrait {
  position: absolute;
  top: 10px;
  left: 25%;
  width: 14%;
}
#about .wall .counter .student,
#about .wall .counter .hacker,
#about .wall .counter .gamer {
  position: absolute;
  bottom: 0;
}
#about .wall .counter .student {
  width: 10%;
  left: 8%;
}
#about .wall .counter .hacker {
  width: 18%;
  left: 35%;
}
#about .wall .counter .gamer {
  width: 28%;
  left: 63%;
}
#about .table {
  width: 100%;
  height: 20%;
  padding-bottom: 85px;
  position: relative;
  background-color: #605448;
  overflow: hidden;
}
#about .table .top {
  width: 100%;
  height: 28%;
  background-color: #ae8a66;
}
#about .table .shadow {
  width: 100%;
  height: 37%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
}
#experience {
  background-color: #b3b3b3;
}
#experience .container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-right: 6%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
#experience .container:before {
  content: "";
  display: block;
  height: 1%;
}
#experience .container .timeline,
#experience .container .spacing,
#experience .container .content {
  box-sizing: border-box;
  height: 98%;
}
#experience .container .timeline,
#experience .container .spacing {
  float: left;
}
#experience .container .timeline {
  display: none;
  width: 3%;
  max-width: 50px;
  position: relative;
  background-color: #4F5559;
}
#experience .container .timeline * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#experience .container .timeline .top,
#experience .container .timeline .bottom {
  position: absolute;
  left: calc(100% + 15px);
  color: black;
  font-size: 16px;
  font-weight: 300;
  white-space: nowrap;
}
#experience .container .timeline .top {
  top: 0;
}
#experience .container .timeline .bottom {
  bottom: 0;
}
#experience .container .timeline .item {
  display: none;
  width: 100%;
  position: absolute;
}
#experience .container .timeline .item .extension {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
#experience .container .timeline .item .extension .connector {
  width: 150%;
  height: 2px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#experience .container .timeline .item .extension .button {
  height: 26px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 150%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
#experience .container .timeline .item .extension .button.selected {
  cursor: default;
  pointer-events: none;
}
#experience .container .timeline .item .extension .button img {
  position: absolute;
  left: 4px;
}
#experience .container .timeline .item .extension .button img.internship {
  top: 3px;
}
#experience .container .timeline .item .extension .button img.project {
  top: 3px;
}
#experience .container .timeline .item .extension .button .name {
  padding-left: 31px;
  padding-right: 7px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 300;
  white-space: nowrap;
}
#experience .container .timeline .item .extension .button:hover {
  cursor: pointer;
}
#experience .container .spacing {
  width: calc(6% + 125px);
}
#experience .container .content {
  display: none;
  opacity: 0;
  padding-bottom: 1.5%;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  font-size: 24px;
  font-weight: 300;
}
#experience .container .content .title,
#experience .container .content .date {
  height: 80px;
  line-height: 1;
}
#experience .container .content .title a,
#experience .container .content .date a {
  color: blue;
}
#experience .container .content .title a:hover,
#experience .container .content .date a:hover {
  color: #ff7f35;
}
#experience .container .content .date .strong,
#experience .container .content .title .strong {
  font-size: 60px;
  font-weight: 400;
  margin-right: 15px;
}
#experience .container .content .date {
  float: right;
}
#experience .container .content .date .strong {
  color: #b3b3b3;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#experience .container .content .text {
  height: 60%;
  position: relative;
}
#experience .container .content .text .actual-text {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#experience .container .content .text .actual-text ul {
  list-style: none;
}
#experience .container .content .text .actual-text ul li:before {
  content: "\2022";
  font-size: 24px;
}
#experience .container .content .text .text-fade-before,
#experience .container .content .text .text-fade-after {
  display: none;
  width: 100%;
  height: calc(100% + 2px);
  position: absolute;
  top: -1px;
  left: 0;
  pointer-events: none;
}
#experience .container .content .text .text-fade-before {
  background: linear-gradient(to bottom, #b3b3b3 0%, rgba(179, 179, 179, 0) 15%);
}
#experience .container .content .text .text-fade-after {
  background: linear-gradient(to top, #b3b3b3 0%, rgba(179, 179, 179, 0) 15%);
}
#experience .container .content .breakdown {
  box-sizing: border-box;
  height: calc(40% - 80px);
  position: relative;
}
#experience .container .content .breakdown::before {
  content: "";
  display: block;
  height: 7%;
}
#experience .container .content .breakdown .block {
  display: inline-block;
  position: relative;
}
#experience .container .content .breakdown .block .text {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-size: 24px;
}
#experience .container .content .breakdown .block .text .percent {
  font-size: 18px;
}
#experience .container .content .breakdown .block svg {
  display: block;
  width: 100%;
}
#experience .container .content .breakdown .expander {
  display: inline-block;
  height: 93%;
  width: 0;
  margin-right: 4%;
  margin-left: 1%;
  position: relative;
}
#experience .container .content .breakdown .popup {
  display: none;
  height: 93%;
  width: 45%;
  margin-right: 4%;
  margin-left: 1%;
  position: absolute;
}
#experience .container .content .breakdown .popup .text {
  box-sizing: border-box;
  width: 90%;
  height: auto;
  max-height: 100%;
  padding: 3% 4% 3%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  font-size: 18px;
  overflow: visible;
}
#experience .container .content .breakdown .popup .text::before {
  content: "";
  width: 0;
  height: 0;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: inherit;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  left: -12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#experience .container .content .breakdown .popup .text .triangle-blank {
  width: 0;
  height: 0;
  border-right-width: 10px;
  border-right-style: solid;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  left: -9px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#hobbies {
  background-color: #414b56;
  position: relative;
  overflow-x: hidden;
}
#hobbies::before {
  content: "";
  display: block;
  height: 10%;
}
#hobbies .container {
  height: 90%;
  margin: 0 auto;
}
#hobbies .container .cube,
#hobbies .container .dotContainer {
  margin: 0 auto;
  width: 60%;
}
#hobbies .container .carousel {
  position: relative;
  z-index: 2;
}
#hobbies .container .carousel .prev,
#hobbies .container .carousel .next {
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 10%;
}
#hobbies .container .carousel .prev:hover,
#hobbies .container .carousel .next:hover {
  width: 11%;
}
#hobbies .container .carousel .prev {
  left: 0;
  margin-right: 10%;
}
#hobbies .container .carousel .prev:hover {
  left: -0.5%;
}
#hobbies .container .carousel .next {
  right: 0;
  margin-left: 10%;
}
#hobbies .container .carousel .next:hover {
  right: -0.5%;
}
#hobbies .container .carousel .cube {
  display: none;
  margin: 0 auto;
  padding-top: 60%;
  position: relative;
}
#hobbies .container .carousel .cube > div {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 10px solid #ff7f35;
  background-color: #d2d6d9;
}
#hobbies .container .carousel .cube > div img {
  display: block;
  width: 90%;
  margin: 5%;
}
#hobbies .container .dotContainer {
  height: 7%;
}
#hobbies .container .dotContainer .dots {
  height: 100%;
  margin: 0 auto;
}
#hobbies .container .dotContainer .dots .dot {
  display: none;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #d2d6d9;
  vertical-align: middle;
}
#hobbies .container .dotContainer .dots .dot.selected {
  background-color: #d2d6d9;
}
#hobbies .container .padding {
  height: 3%;
}
#hobbies .container .title {
  display: none;
  text-align: center;
  font-size: 36px;
  color: #d2d6d9;
}
#hobbies .container .carousel {
  -webkit-perspective: 800px;
  perspective: 800px;
}
#hobbies .container .carousel .cube {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#hobbies .container .carousel .cube > div {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#contact {
  position: relative;
  padding-bottom: 0;
}
#contact .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
#contact .title {
  display: none;
  font-size: 60px;
}
#contact .email {
  display: none;
  font-size: 36px;
  color: white;
}
#contact .email:hover {
  transform: scale(1.02);
}
#contact .sources {
  margin: 0 auto;
}
#contact .sources > div {
  display: none;
  height: 100px;
  width: 100px;
  margin-right: 40px;
  position: relative;
}
#contact .sources > div:last-child {
  margin-right: 0;
}
#contact .sources > div img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#contact .sources > div img:hover {
  height: 105%;
}
#contact .footer {
  width: 100%;
  position: absolute;
  bottom: 1%;
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
#contact .footer a {
  color: rgba(0, 255, 0, 0.5);
}
/*# sourceMappingURL=main.css.map */